@font-face {
    font-family: 'Roboto-Variable';
    src: url('../fonts/Roboto-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto-Variable', sans-serif;
}