/* semantic color variables for this project */
:root {
    --primary-color: #1db954;
    --background-dark: #121212;
    --background-light: #212121;
    --background-light-light: #2c2c2c;
    --text-muted: #535353;
    --text-light: #b3b3b3;

    --secondary-color: #ffffff;
    --text-primary-color: #ffffff;
    --text-secondary-color: #000000;

    --border-radius: 5px;
}